---
import acaSalud from "../assets/images/clientes/aca-salud.png";
import aspa from "../assets/images/clientes/aspa.png";
import axion from "../assets/images/clientes/axion.png";
import bancoChubut from "../assets/images/clientes/banco-de-chubut.png";
import casinoDelRio from "../assets/images/clientes/casino-del-rio.png";
import cec from "../assets/images/clientes/cec.webp";
import osde from "../assets/images/clientes/osde.png";
import pozzoArdizzi from "../assets/images/clientes/pozzo-ardizzi.png";
import cra from "../assets/images/clientes/cra.png";
import shellLogo from "../assets/images/clientes/Shell_logo.svg.png";
import unter from "../assets/images/clientes/unter.png";
import wfs from "../assets/images/clientes/wfs.png";
---

<section id="clientes" class="s-clients target-section darker">
  <div
    class="row section-header text-center narrow"
    data-duration="100"
    data-aos-delay="50"
    data-aos="fade-up"
  >
    <div class="col-full">
      <h3 class="subhead">Nuestros Clientes</h3>
      <h1 class="display-1">Marcas con las que hemos trabajado</h1>
    </div>
  </div>

  <div id="infinite-carousel-wrapper" data-aos="fade-in">
    <div id="infinite-carousel">
      <div class="infinite-carousel-slide">
        <img src={acaSalud.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={aspa.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={axion.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={bancoChubut.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={casinoDelRio.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={cec.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={osde.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={pozzoArdizzi.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={cra.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={shellLogo.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={unter.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={wfs.src} alt="" />
      </div>

      <!-- Clonación de slides -->
      <div class="infinite-carousel-slide">
        <img src={acaSalud.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={aspa.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={axion.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={bancoChubut.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={casinoDelRio.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={cec.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={osde.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={pozzoArdizzi.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={cra.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={shellLogo.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={unter.src} alt="" />
      </div>
      <div class="infinite-carousel-slide">
        <img src={wfs.src} alt="" />
      </div>
    </div>
  </div>
</section>
